<h2>
    <%=h @task.name %>
</h2>

<table border="1">
  <tr><th>Start Time</th> 
  <th>End Time</th>
  <th>Logged Time </th>	
  </tr>
<%= render :partial => 'log', :collection => @task_logs %>
</table>
<%= link_to( 'Back', task_path(@task) ) if @task %>
