body {
  background-color: #fff;
}

h1, h2 {
  font-weight: normal;
  color: #666;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

#page {
  background-color: #fff;
  color: #999;
  width: 900px;
  margin: auto;
  padding: 5px;
}

#header {
  height: 50px;
}

.subnav {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
}
 
  .subnav li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  .subnav a {
    background-color: #eee;
    border-color: #eee;
    border-style: solid;
    border-width: 2px 2px 0;
    padding: 2px 5px;
    margin-left: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
  }
  
    .subnav a:hover {
      background-color: #f9f9f9;
    }
  
    .subnav a.selected {
      background-color: #fff;
      border-bottom: 1px solid #fff;
    }
    
#header #logo img {
  float: right;
  padding-left: 10px;
  padding-top: 5px;
  border: 0;
}

#header #logo {
  float: right;
  text-align: right;
}
  
.flash {
  padding: 10px;
  color: #000;
}
  
  .flash.notice {
    background-color: #3f3;
  }
  
  .flash.error {
    background-color: #f33;
  }

#article {
  padding-left: 165px;
  margin-right: 160px;
  padding-top: 0;
  margin-top: 0;
  border: 2px solid #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#article.wide {
  padding-left: 10px;
}
  
  #article:after {
    content: "";
    display: block;
    height: 0;
    clear: left;
  }

  #article h1 {
    padding: 5px 10px;
    margin: 0;
    margin-left: -165px;
    background-color: #eee;
  }

  #article.wide h1 {
    margin-left: -10px;
  }

  #article.wide .flash {
    margin-left: -10px;
  }
  
form label {
  display: block;
}

.fieldWithErrors {
  color: #000;
}

.task {
  width:545px;
  height: 20px;
  padding: 10px 10px;
}
  .task:hover {
    background-color: #f9f9f9;
  }
  .task .number {
    width: 30px;
    float: left;
    color: #aaa;
    font-size: 1.5em;
  }
  .task span.name_user {
    float: left;
    width: 250px;
    overflow: hidden;
    height: 20px;
    display: block;
  }
    .task span.name_user a {
      padding-right: 10px;
    }
  .task span.when {
    float: left;
    width: 100px;
    text-align: center;
  }
  .task span.duration {
    float: left;
    margin-left: 5px;
    width: 60px;
    text-align: center;
  }
  .task .actions {
    width: 100px;
    margin-left: 5px;
    display: inline;
    padding: 0;
    font-size: 0.8em
  }
    .task .actions li {
      display: inline;
      list-style-type: none;
    }

  .task.overdue {
    font-weight: bold;
  }
    .task.overdue .actions {
      font-weight: normal;
    }

#article.wide .task {
  width: 700px;
}

  #article.wide .task span {
    margin-right: 30px;
  }
.task_head {
  width:545px;
  height: 15px;
  padding: 5px 10px;
  color: #ccc;
}
  .task_head span.name {
    float: left;
    display: block;
    width: 250px;
    margin-left: 30px;
    overflow: hidden;
  }
  .task_head span.when {
    float: left;
    display: block;
    width: 100px;
    text-align: center;
  }
  .task_head span.duration {
    float: left;
    display: block;
    width: 60px;
    margin-left: 5px;
    text-align: center;
  }
.task_filter {
  padding: 5px;
}
  .task_filter a {
    text-decoration: underline;
  }
  
.task_float {
  border: 2px solid #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 5px 5px 5px 0;
  padding: 10px;
  width: 350px;
  height: 250px;
}

  .task_float h2 {
    background-color: #eee;
    margin: -10px -10px 10px;
    padding: 5px;
    margin-bottom: ;
  }

  .task_float span.time {
    font-size: 2em;
    color: #000;
    float: right;
  }

  .task_float span.description {
    display: block;
    padding-bottom: 5px;
  }
  
  .task_float .applications, .task_float .resources {
    width: 175px;
    float: left;
  }

  .task_float ul {
    margin: 0;
    padding: 0;
  }
  
    .task_float li {
      list-style-type: none;
    }

.project_head {
  width:695px;
  margin-bottom: 10px;
  height: 15px;
  padding: 5px 10px;
  font-size: 1.2em;
  color: #666;
}
  .project_head span.name {
    float: left;
    display: block;
    width: 300px;
  }
  .project_head span.next_task {
    float: left;
    display: block;
    width: 150px;
    text-align: center;
  }
  .project_head span.tasks {
    float: left;
    display: block;
    width: 70px;
    text-align: center;
  }
  .project_head span.users {
    float: left;
    display: block;
    width: 70px;
    text-align: center;
  }
  .project_head .progress {
    float: left;
    display: block;
    width: 100px;
    text-align: center;
  }

.project {
  width:695px;
  overflow: auto;
  padding: 10px;
  background-color: #eee;
  color: #666;
  margin-bottom: 10px;
}

  .project:hover {
    background-color: #f9f9f9;
  }
  .project span.name {
    float: left;
    display: block;
    width: 300px;
  }
  .project span.next_task {
    float: left;
    display: block;
    width: 150px;
    text-align: center;
  }
  .project span.tasks, .project span.users {
    float: left;
    display: block;
    width: 70px;
    text-align: center;
  }
  .project .progress {
    float: left;
    display: block;
    width: 100px;
    text-align: center;
  }
    .project .progress span.percent {
      font-size: 1.6em;
      color: #666;
    }
    .project .progress span.actual {
      font-size: 0.8em;
    }

.life {
  width:545px;
  height: 20px;
  padding: 10px 10px;
}
  .life:hover {
    background-color: #f9f9f9;
  }
  .life span.name {
    float: left;
    display: block;
    width: 400px;
  }
  .life .actions {
    width: 100px;
    display: inline;
    padding: 0;
  }
    .life .actions li {
      display: inline;
      list-style-type: none;
    }
    
.templates{
  width: 300px;
  float: right;
}
  .templates ul {
    display: inline;
    padding: 0;
    margin: 0;
  }
  
  .templates li {s
    list-style-type: none;
    padding: 2px 10px;
    font-size: 1.2em;
  }
    
li form {
  display: inline;
}
    
li small form div {
  display: none;
}
    
li small form input {
  display: inline;
  border: 0;
  background-color: #fff;
  color: #4b97cc;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

li small form input:hover {
  cursor: pointer;
}

ul.messages {
}
  ul.messages li.read {
    font-weight: normal;
  }

  ul.messages li.unread {
    font-weight: bold;
  }

#sidebar_right {
  float: right;
}

#sidebar_left {
  float: left;
  margin-left: -160px;
  margin-top: 5px;
}

#sidebar_right .actions, #sidebar_right .lives, #sidebar_left .projects, #sidebar_left .users {
  width: 150px;
  border: 2px solid #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 5px;
}

  #sidebar_right h2, #sidebar_left h2 {
    background-color: #eee;
    margin: 0;
    padding: 5px 2px 5px 5px;
  }
  
    #sidebar_right h2 a, #sidebar_left h2 a {
      color: #999;
      font-weight: normal;
      font-size: 0.6em;
      vertical-align: top;
      float: right;
      padding: 0;
    }

  #sidebar_right ul, #sidebar_left ul {
    margin: 0;
    padding: 0;
    width: 150px;
  }
  #sidebar_right ul li, #sidebar_left ul li {
    width: 150px;
    list-style-type: none;
  }
  #sidebar_right ul li.selected, #sidebar_left ul li.selected {
    background-color: #ffa;
  }

  #sidebar_right ul li a, #sidebar_left ul li a {
    line-height: 20px;
    padding: 5px 10px;
    display: block;
    width: 130px;
  }

  #sidebar_right ul li a:hover, #sidebar_left ul li a:hover {
    background-color: #f9f9f9;
  }

#footer {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  color: #999;
  padding: 5px;
  line-height: 1.3em;
}
