<% @page_header = "Contacts"%>

<% form_for @contact do |f| %>
  <p>
    <%= f.label :life %>
    <%= select("contact", "contactee_life_id", @current_user.lives.each.collect {|p| [ p.name, p.id ] }, {:prompt => 'Select Life'}) %>
  </p>
  <p>
  <%= submit_tag 'Save' %>
  </p>
<% end %>
