<h2>All Lives</h2>
<ul style="list-style: none;">
<li>
<div class="task_head">
  <span class="name">To-do-list</span>
  <span class="when">When</span>
  <span class="duration">Duration</span>
</div>
</li>
</ul>
<ul id="test-list" style="list-style: none;">
<%= render :partial => 'tasks/task', :collection => @tasks %>
</ul>

<p><%= link_to 'New Life', new_life_path %></p><ul id="sortable" style="list-style: none;">
